{% extends 'base2.html' %}
{% block title %}
About Us
{% endblock title %}
{% block body %}


<div class="container">
    <h2 class="text-center text-danger">About Me</h2>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h3>Hello, I'm Yasas Pamudu</h3>
        <p>I am an undergraduate student in the Faculty of Applied Science, Rajarata University, Sri Lanka.</p>
        <p>I am currently pursuing a B.Sc. in Applied Science degree program.</p>
        <p>This is my 2nd year of the degree program.</p>
        <a href="https://4840.eu.org/" class="about-btn center">Visit My Portfolio Site</a><br>
      </div>
    </div>
  </div>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
     
    </div>

    <div class="container">
   
      <div class="credits">
      <br>
        Developed by <a href="https://4840.eu.org/">4840</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

{% endblock body %}